---
layout: default
---
<h1 align="center" style="word-break: break-all;">Parásitos internos (endoparásitos, gusanos helmintos)</h1>
<div id="container">
<div id="grid" data-columns class="cols">
    {% for post in site.categories.sub %}
    <div class="box" style="background-color:#{{post.color}}">
       {% if post.img %}
          <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
       {% endif %}
          <div class="container">
            <h4>{{post.title}}</h4>
            <p>{{post.description}}</p>
             <div class="action"><a href="{{post.url | prepend: site.baseurl}}">Más información<i class="fa fa-arrow-right" aria-hidden="true"></i></a></div>
        </div>
    </div>
   {% endfor %}

</div>
</div>

<script src="{{site.baseurl}}/js/salvattore.min.js"></script>
